<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We are specialized in development using PHP, Zend Framework, Laravel, Javascript, jQuery, Wordpress. We Love Startups, if you need to get things done, bring your project to us!">
    <meta name="author" content="@emersonbroga">

    <title>Startup Dev - We S2 Startups!</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/main.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="assets/img/light_bulb.png" /> Startup Dev</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    {% block content %}{% endblock %}

	<div id="hello">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-lg-8 col-lg-offset-2 centered">
	    			<h1>WE <img src="assets/img/green_heart.png" /> Startups</h1>
	    			<h2>You have an idea? <strong>Let us help you grow it</strong>!</h2>
	    		</div><!-- /col-lg-8 -->
	    	</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /hello -->
	
	<div id="green">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 centered">
					<img src="assets/img/iphone_2.png" alt="">
				</div>
				
				<div class="col-lg-7 centered">
					<h3>WHAT WE DO?</h3>
					<p>We are a team of web developers, ready to <i>get things done</i>!</p>
					<p>Creating web applications for clients of all shapes and sizes, we have a special love 
					for <strong>startups</strong>.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container">
		
		<div class="row mt centered">
			<div class="col-lg-7 col-lg-offset-1 mt">
					<h3>How we work</h3>
					<p class="lead">If you have an idea and you need someone to develop it, we're the right guys for you! We give the customer early development snapshots and step-by-step access to the work as we make it, we ensure the quality and cut through wasteful guesswork, miscommunications, and noisy designs to create a smart and functional solution.</p>
			</div>
			
			<div class="col-lg-3 mt">
				<p><a href="#contact" class="btn btn-theme btn-lg">Email Me!</a></p>
			</div>
		</div>

		<div class="row mt">
			<div class="col-lg-1 col-lg-offset-1 mt">
				<p><img src="assets/img/backend.png" alt="Backend development"></p>
			</div>
			<div class="col-lg-8 mt">
				<h3>Backend development</h3>
				<p class="lead">We have extense experience in php aplications using the best frameworks 		available, like Zend Framework, Laravel and Symfony. If you already have your html & css
					ready, we bring it to life!</p>
			</div>
		</div>


		<div class="row mt">
			<div class="col-lg-1 col-lg-offset-1 mt">
				<p><img src="assets/img/cloud.png" alt="Cloud"></p>
			</div>
			<div class="col-lg-8 mt">
				<h3>Cloud</h3>
				<p class="lead">Your project need to be hosted in a cloud! We recomend the best cloud services out there, like Amazon Web Services, Digital Ocean and RackSpace! Don't worry about
				hosting, it just works!</p>
			</div>
		</div>
	</div>


	<div id="skills">
		<div class="container">
			<div class="row centered">
				<h3>OUR SKILLS</h3>
				<div class="col-lg-3 mt">
					<canvas id="php" class="chart" height="130" width="130" data-dark="90" data-light="10"></canvas>
					<p>PHP</p>
					<br>
					
				</div>
				<div class="col-lg-3 mt">
					<canvas id="javascript" class="chart" height="130" width="130" data-dark="78" data-light="22"></canvas>
					<p>Javascript</p>
					<br>
				</div>
				<div class="col-lg-3 mt">
					<canvas id="wordpress" class="chart" height="130" width="130" data-dark="80" data-light="20"></canvas>
					<p>Wordpress</p>
					<br>
					
				</div>
				<div class="col-lg-3 mt">
					<canvas id="objective-c" class="chart" height="130" width="130" data-dark="70" data-light="30"></canvas>
					<p>Objective-c</p>
					<br>
				</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /skills -->
	
	<section id="contact">
		<div class="container">
			<div class="row ">
				<div class="col-lg-8 col-lg-offset-2">
					<h3>Get in touch</h3>
					<form id="contact-form" action="/send" method="post" role="form">
						<div class="form-group">
						    <label for="name">Name</label>
						    <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
						</div>
						<div class="form-group">
							<label for="email">Email address</label>
							<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
						</div>
						<div class="form-group">
							<label for="message">Message</label>
							<textarea class="form-control" rows="3" id="message" name="message"></textarea>	
						</div>
						

						<div class="form-group ">

							<button type="submit" class="btn btn-theme btn-lg col-lg-2 ">Send</button>

							<div id="feedback" class="alert alert-info col-lg-9 col-lg-offset-1 hide">TESTE</div>
						</div>	
					</form>	
				</div>
			</div>
		</div>
	</section>

	<hr/>

	<div id="f">
		<div class="container">
			<div class="row ">
				<p>You can <a href="https://github.com/StartupDev/startupdev" target="_blank">fork this project</a> made with <a href="http://silex.sensiolabs.org/" target="_blank">Silex</a> by Startup Dev.</p>
			</div>
		</div>
	</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="assets/js/chart.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/project.js"></script>
  </body>
</html>
